.landing {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}
.landing video {
  height: 100vh;
  position: absolute;
  transform: translateX(-18%);
  z-index: -1;
}
@media (min-width: 1600px) {
  .landing video {
    transform: translateX(0) scaleX(1.4);
  }
}
.landing .video:after {
  content: "";
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
  position: absolute;
  display: inline;
  height: 100vh;
  background-image: linear-gradient(
    180deg,
    rgba(88, 104, 113, 0) 50%,
    var(--mainColor) 85%
  );
}
.always-in-season {
  position: relative;
  display: flex;
  flex-direction: column;

  top: calc(100vh - 100px);
  color: #fff;
  background-color: var(--mainColor);
}

.main-swiper {
  display: block !important;
}
.main-swiper .item.main-item {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--mainColor);
}
.main-swiper h1 {
  font-size: 3rem;
  z-index: 5;
  top: -3%;
}
.main-swiper .item.main-item > p {
  font-size: 1.3rem;

  top: 5%;
  margin: -2% 0 10%;
  width: 40%;
  text-align: center;
}
.main-swiper > .owl-nav {
  position: absolute;
  top: 20%;
  display: flex;
  margin-bottom: 10%;
  justify-content: space-between;
  width: 20%;
  min-width: 100px;
  max-width: 200px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1024px) {
  .main-swiper > .owl-nav {
    top: 35%;
  }
  .main-swiper .item.main-item > p {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .main-swiper .item.main-item > h1 {
    margin-top: 15%;
  }
  .main-swiper .item.main-item > p {
    width: 70%;
    margin-bottom: 35%;
  }
  .main-swiper .owl-nav {
    width: 30%;
  }
}
@media (max-width: 524px) {
  .main-swiper .owl-nav img {
    width: 90%;
  }
  .main-swiper .item.main-item > p {
    font-size: 0.96rem;
    margin-bottom: 30%;
  }
}
@media (max-width: 400px) {
  .main-swiper .item.main-item > h1 {
    width: 80%;
    font-size: 2rem;
  }
  .main-swiper .item.main-item > p {
    font-size: 1rem;
    margin-bottom: 30%;
  }
  .main-swiper > .owl-nav {
    width: 30%;
    top: 35%;
  }
  .main-swiper > .owl-nav img {
    width: 70%;
  }
}

@media (min-width: 1114px) {
  .secoundry-side-swiper .item {
    height: 45rem !important;
  }
  .secoundry-side-swiper .item video {
    height: 45rem !important;
  }
}
.secoundry-side-swiper .item video {
  max-height: 100%;
  width: 100%;
}
.secoundry-side-swiper .item .cont{

} 
.owl-carousel {
  background-color: var(--mainColor);
}
.secoundry-side-swiper.item {
  border-radius: 5px;
  height: 25rem;
  width: 80vw;
}
.secoundry-side-swiper .owl-dots {
  display: flex;
  width: 100px;
  margin: auto;
  justify-content: space-evenly;
}
.secoundry-side-swiperl .owl-dots button span {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
}
.secoundry-side-swiper .owl-nav button span {
  position: absolute;
  color: var(--Mod);
  top: 50%;
  background-color: var(--modrevers);
  opacity: 0.8;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translateY(-70%);
}
.secoundry-side-swiper .owl-nav button:first-child span {
  left: 5px;
}
.secoundry-side-swiper .owl-nav button:last-child span {
  right: 50px;
}
.secoundry-side-swiper .item span {
  position: absolute;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  border-radius: 50%;
  background-color: var(--Mod);
  color: var(--modrevers);
  bottom: 80px;
  left: 60px;
  cursor: pointer;
}
.secoundry-side-swiper #play-btn {
  width: 30%;
  height: 30%;
  background-color: var(--modrevers);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  clip-path: polygon(
    0 0,
    50% 25%,
    50% 75%,
    50% 75%,
    50% 25%,
    100% 50%,
    100% 50%,
    0 100%
  );
}
.secoundry-side-swiper #play-btn.active {
  clip-path: polygon(
    0 0,
    40% 0,
    40% 100%,
    60% 100%,
    60% 0,
    100% 0,
    100%100%,
    0 100%
  ) !important;
}
@media (max-width: 1444px) {
  .secoundry-side-swiper .item span {
    left: 6%;
    bottom: 8%;
  }
}
@media (max-width: 678px) {
  .secoundry-side-swiper .item span {
    width: 50px;
    height: 50px;
    bottom: 11%;
  }
}
@media (max-width: 468px) {
  .secoundry-side-swiper .item span {
    bottom: 10%;
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 1600px) {
  .secoundry-side-swiper .item span {
    bottom: 20%;
  }
}
