.landing {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: -100px;
  margin-bottom: -100px;
}
.landing video {
  height: 100vh;
  position: absolute;
  transform: translateX(-18%);
  z-index: -1;
}
@media (min-width: 1600px) {
  .landing video {
    transform: translateX(0) scaleX(1.4);
  }
}
.landing .video:after {
  content: "";
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
  position: absolute;
  display: inline;
  height: 100vh;
  background-image: linear-gradient(
    180deg,
    rgba(88, 104, 113, 0) 50%,
    var(--mainColor) 85%
  );
}
.always-in-season {
  color: #fff;
  background-color: var(--mainColor);
}
.main-swiper {
  display: block !important;
}
.main-swiper .item.main-item {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--mainColor);
}
.main-swiper h1 {
  font-size: 3rem;
  z-index: 5;
  top: -3%;
}
.main-swiper .item.main-item > p {
  font-size: 1.3rem;

  top: 5%;
  margin: -2% 0 10%;
  width: 40%;
  text-align: center;
}
.main-swiper > .owl-nav {
  position: absolute;
  top: 20%;
  display: flex;
  margin-bottom: 10%;
  justify-content: space-between;
  width: 20%;
  min-width: 100px;
  max-width: 200px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1024px) {
  .main-swiper > .owl-nav {
    top: 35%;
  }
  .main-swiper .item.main-item > p {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .main-swiper .item.main-item > h1 {
    margin-top: 15%;
  }
  .main-swiper .item.main-item > p {
    width: 70%;
    margin-bottom: 35%;
  }
  .main-swiper .owl-nav {
    width: 30%;
  }
}
@media (max-width: 524px) {
  .main-swiper .owl-nav img {
    width: 90%;
  }
  .main-swiper .item.main-item > p {
    font-size: 0.96rem;
    margin-bottom: 30%;
  }
}
@media (max-width: 400px) {
  .main-swiper .item.main-item > h1 {
    width: 80%;
    font-size: 2rem;
  }
  .main-swiper .item.main-item > p {
    font-size: 1rem;
    margin-bottom: 30%;
  }
  .main-swiper > .owl-nav {
    width: 30%;
    top: 35%;
  }
  .main-swiper > .owl-nav img {
    width: 70%;
  }
}

@media (min-width: 1114px) {
  .secoundry-side-swiper .item {
    height: 45rem !important;
  }
  .secoundry-side-swiper .item video {
    height: 45rem !important;
  }
}
.secoundry-side-swiper .item video {
  max-height: 100%;
  width: 100%;
}
.owl-carousel {
  background-color: var(--mainColor);
}
.secoundry-side-swiper.item {
  border-radius: 5px;
  height: 25rem;
  width: 80vw;
}
.secoundry-side-swiper .owl-dots {
  display: flex;
  width: 100px;
  margin: auto;
  justify-content: space-evenly;
}
.secoundry-side-swiperl .owl-dots button span {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
}
.secoundry-side-swiper .owl-nav button span {
  position: absolute;
  color: var(--Mod);
  top: 50%;
  background-color: var(--modrevers);
  opacity: 0.8;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translateY(-70%);
}
.secoundry-side-swiper .owl-nav button:first-child span {
  left: 5px;
}
.secoundry-side-swiper .owl-nav button:last-child span {
  right: 50px;
}
.secoundry-side-swiper .item span {
  position: absolute;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  border-radius: 50%;
  background-color: var(--Mod);
  color: var(--modrevers);
  bottom: 80px;
  left: 60px;
  cursor: pointer;
}
.secoundry-side-swiper #play-btn {
  width: 30%;
  height: 30%;
  background-color: var(--modrevers);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  clip-path: polygon(
    0 0,
    50% 25%,
    50% 75%,
    50% 75%,
    50% 25%,
    100% 50%,
    100% 50%,
    0 100%
  );
}
.secoundry-side-swiper #play-btn.active {
  clip-path: polygon(
    0 0,
    40% 0,
    40% 100%,
    60% 100%,
    60% 0,
    100% 0,
    100%100%,
    0 100%
  ) !important;
}
@media (max-width: 1444px) {
  .secoundry-side-swiper .item span {
    left: 6%;
    bottom: 8%;
  }
}
@media (max-width: 678px) {
  .secoundry-side-swiper .item span {
    width: 50px;
    height: 50px;
    bottom: 11%;
  }
}
@media (max-width: 468px) {
  .secoundry-side-swiper .item span {
    bottom: 10%;
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 1600px) {
  .secoundry-side-swiper .item span {
    bottom: 20%;
  }
}
.owl-slider-findYourHome .cont.active .front {
  transform: rotatey(180deg);
}
.owl-slider-findYourHome .cont.active .back {
  transform: rotateY(0deg);
}
.owl-slider-findYourHome .cont {
  color: #fff;
  position: relative;
  background-position: center;
  width: 550px;
  background-color: transparent;
  height: 600px;
  transform-style: preserve-3d;
  transition: transform 1s;
  margin: auto;
  perspective: 2000px;
}
.owl-slider-findYourHome .cont .face {
  background-position: 20% center;
  background-size: cover;
  background-position: center;
  position: absolute;
  backface-visibility: hidden;
  height: 100%;
  box-shadow: 5px 5px 20px 0 rgb(45 41 51 / 40%);
  width: 100%;
}
.owl-slider-findYourHome .cont .back {
  transform: rotateY(-180deg);
}
.owl-slider-findYourHome .cont .back > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.owl-slider-findYourHome .cont .front .float p:first-child {
  font-size: 2rem;
}
.owl-slider-findYourHome .cont .front .float p:last-child {
  font-weight: 700;
}
.owl-slider-findYourHome .cont .face .float {
  position: absolute;
  opacity: 0.7;
  top: 5%;
  font-weight: 900;
  z-index: 2;
  left: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}
.owl-slider-findYourHome .cont .front a p {
  margin: 0;
  transition: 0.4s;
  height: 100%;
}
.owl-slider-findYourHome .cont .front a:hover p {
  transform: translateY(-114%);
}
.owl-slider-findYourHome .cont .front a {
  bottom: 5%;
  right: 5%;
  z-index: 2;
  width: 40%;
  height: 8%;
  font-size: 2rem;
  color: #fff;
  position: absolute;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  overflow: clip;
  cursor: pointer;
  font-weight: 700;
}
.owl-slider-findYourHome .cont .face::after {
  content: " ";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(33, 67, 110, 0),
    rgba(33, 67, 110, 0.681) 34.9%,
    #21436e 93.75%
  );
}
.owl-slider-findYourHome .cont .front::after {
  z-index: 1;
}
.owl-slider-findYourHome .cont .back .float p {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--mainColor);
}
.owl-slider-findYourHome .cont .back > div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
.owl-slider-findYourHome .cont .back > div {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}
.owl-slider-findYourHome .cont .back > p {
  bottom: 10%;
  font-size: 1.4rem;
  padding: 0 10%;
  position: absolute;
}
.owl-slider-findYourHome .cont .back > div > div p:last-child {
  font-size: 1.3rem;
}
.owl-slider-findYourHome .cont .back > div > div p:first-child {
  font-weight: 700;
  font-size: 4rem;
}
c.cont .back .float {
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  top: 10%;
  margin: auto;
}


