.landing {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}
.landing video {
  height: 100vh;
  position: absolute;
  transform: translateX(-25%);
  z-index: -1;
}
.landing .video:after {
  content: "";
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
  position: absolute;
  display: inline;
  height: 100vh;
  background-image: linear-gradient(
    180deg,
    rgba(88, 104, 113, 0) 50%,
    var(--mainColor) 85%
  );
}
.always-in-season {
  position: relative;
  top: 100vh;
}
.main-swiper{
  display: block !important;
}
.main-swiper .item.main-item {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #000;
  background-color: var(--mainColor);
}
@media (min-width: 1114px) {
  .secoundry-side-swiper .item {
    height: 45rem !important;
  }
  .secoundry-side-swiper .item video {
    height: 45rem !important;
  }
}
.secoundry-side-swiper .item video {
  max-height: 100%;
  width: 100%;
}
.owl-carousel {
  background-color: var(--mainColor);
}
.secoundry-side-swiper.item {
  border-radius: 5px;
  height: 25rem;
  width: 80vw;
}
body {
  min-height: 10000px;
}
.secoundry-side-swiper .owl-dots {
  display: flex;
  width: 100px;
  margin: auto;
  justify-content: space-evenly;
}
.secoundry-side-swiperl .owl-dots button span {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
}
.secoundry-side-swiper .owl-nav button span {
  position: absolute;
  color: var(--Mod);
  top: 50%;
  background-color: var(--modrevers);
  opacity: 0.8;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translateY(-70%);
}
.secoundry-side-swiper .owl-nav button:first-child span {
  left: 5px;
}
.secoundry-side-swiper .owl-nav button:last-child span {
  right: 5px;
}
.secoundry-side-swiper .item span {
  position: absolute;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 300%;
  border-radius: 50%;
  background-color: var(--Mod);
  color: var(--modrevers);
  bottom: 20px;
  left: 60px;
  cursor: pointer;
}
.secoundry-side-swiper #play-btn {
  width: 30%;
  height: 30%;
  background-color: var(--modrevers);
  cursor: pointer;
  transition: 0.3s ease-in-out;
  clip-path: polygon(
    0 0,
    50% 25%,
    50% 75%,
    50% 75%,
    50% 25%,
    100% 50%,
    100% 50%,
    0 100%
  );
}
.secoundry-side-swiper #play-btn.active {
  clip-path: polygon(
    0 0,
    40% 0,
    40% 100%,
    60% 100%,
    60% 0,
    100% 0,
    100%100%,
    0 100%
  ) !important;
}
