.buy-now p {
  margin: 0;
}
.buy-now p {
  height: 18px;
}
.buy-now {
  display: flex;
  flex-direction: column;
  overflow: clip;
  cursor: pointer;
  height: 21px;
  font-weight: 700;
}
.buy-now:hover p {
  transform: translateY(-114%);
}
.l-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 45%;
  width: 450px;
  color: var(--Mod);
  max-height: 100px;
}
.l-nav #search {
  cursor: pointer;
  font-size: 2rem;
}
nav {
  display: flex;
  position: relative;
  z-index: 100;
  background-color: transparent;
  padding: 10px var(--padding);
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  height: 100px;
}
nav img {
  height: 40%;
}
.toggler {
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 50px;
  justify-content: space-evenly;
  flex-direction: column;
}
.toggler.active span {
  transform: translateX(100%);
}
.toggler.active span:first-child {
  transform: translate(1px, 13px) rotate(-45deg);
}
.toggler.active span:last-child {
  transform: translate(2px, -13px) rotate(45deg);
}
.toggler span {
  display: inline-block;
  height: 3%;
  background-color: var(--Mod);
}
.search-nav {
  top: 0;
  right: -120%;
  position: fixed;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  color: var(--Mod);
  background-color: var(--modrevers);
}
.search-nav.active {
  right: 0;
}
.search-nav .custom {
  width: 70%;
}
.search-nav .custom > div {
  flex-direction: column;
  justify-content: center;
  width: 190px;
  position: relative;
}
.search-nav .custom > div > .defult {
  width: 100%;
  cursor: pointer;
  display: flex;
  height: 30px;
  border-bottom: 2px solid #7d789e;
  justify-content: space-between;
}
.search-nav .custom > div > .defult span:last-of-type {
  transform: translateY(-10%) rotate(90deg);
  font-size: 2.1rem;
}
.search-nav .custom > div > .defult span:last-of-type.active {
  transform: rotate(270deg);
}
.options-sect {
  top: 30px;
  cursor: pointer;
  width: 100%;
  display: none;
  flex-direction: column;
  height: -webkit-fit-content;
  height: fit-content;
}
.options-sect div {
  width: 100%;
  cursor: pointer;
  height: 40px;
  background-color: var(--Mod);
  color: var(--modrevers);
  padding: 10px;
}
.options-sect.active {
  display: flex;
}
.options-sect div:hover {
  padding-left: 20px;
}
.options-sect div.active {
  background-color: var(--modrevers);
  color: var(--Mod);
}
.search-nav .custom > span {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50px;
  font-size: 1.7rem;
  height: 50px;
  border: 1px dashed var(--Mod);
  border-radius: 50%;
}
.search-nav .custom > div > .defult div {
  width: fill-available;
  width: -webkit-fill-available;
  max-width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.search-nav .custom > div > .defult p {
  min-width: -webkit-fit-content;
  min-width: fit-content;
}
.search-nav .toggler {
  position: absolute;
  cursor: pointer;
  top: 30px;
  right: 30px;
}
nav.active {
  background-color: #233142;
}
nav.active .l-nav {
  color: #fff;
}
nav.active .l-nav .toggler span {
  background-color: #fff;
}
@media (max-width: 1440px) {
  .search-nav .custom {
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
  }
  .options-sect div {
    z-index: 2000;
  }
}
@media (max-width: 624px) {
  .l-nav .buy-now,
  .l-nav .temp {
    display: none;
  }
}
@media (max-width: 420px) {
  .l-nav {
    max-width: 30%;
  }
  .l-nav .timestatus {
    display: none;
  }
}
