.preLoad {
  width: 100vw;
  height: 100vh;
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--modrevers);
  flex-direction: column;
}
.preLoad img {
  width: 40%;
}
.preLoad .texts {
  color: var(--Mod);
  display: flex;
  flex-direction: column;
  overflow: clip;
  text-align: center;
  height: 25px;
  font-weight: 700;
}
.preLoad .texts p {
  margin: 0;
}
@media (max-width: 420px) {
  .preLoad .texts {
    font-size: 1.2rem;
    height: 30px;
  }
  .preLoad .texts p {
    height: 30px;
  }
}
@media (min-width: 420px) {
  .preLoad .texts {
    font-size: 2rem;
    height: 50px;
  }
  .preLoad .texts p {
    height: 50px;
  }
}
@media (min-width: 768px) {
  .preLoad .texts {
    font-size: 3rem;
    height: 70px;
  }
  .preLoad .texts p {
    height: 70px;
  }
}
@media (min-width: 1444px) {
  .preLoad .texts {
    font-size: 5rem;
    height: 100px;
  }
  .preLoad .texts p {
    height: 100px;
  }
}